{% extends "layout.njk" %}


{% block content %}

<div class="card">

    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/342724/500x500) no-repeat center center / cover">
    </section>

    <section class="detail">

        <form method="POST" action="/members?_method=PUT">
            <h3>Editar membro</h3>

            {% include 'members/fields.njk' %}

            <input 
                type="hidden" 
                name="id" 
                value={{ member.id }}
            >            
        </form>

        <form id="form_delete" action="/members?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{ member.id }}>
            <button type="submit">Deletar</button>
        </form>

        <script>
            const formDelete = document.querySelector("#form_delete")
            formDelete.addEventListener("submit", function(event) {
                const confirmation = confirm("Deseja deletar?")
                if (!confirmation) {
                    event.preventDefault()
                }
            })
        </script>
    </section>    
</div>

{% endblock content %}